

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: .5rem;
  margin-top: .2rem;
  text-rendering: optimizeLegibility;
}

p {
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

a, a:visited{
  color: #46AF9D;
}

a:hover, a:active{
  color: #00696B;
}

hr {
  border-top: 1px solid #b3b3b3;
}

.headline {
  margin-top: 1em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.btn {
  margin: 1em 0 0 0;
}

ul {
  margin: 1em 0 0 0;
}

.btn-primary, .panel-primary > .panel-heading {
  background-color: #46AF9D;
  border-color: #46AF9D;
}

/*.left-side {
  margin-top: 2em;
}*/

.panel-primary {
  border-color: #46AF9D;
}



.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:link, .btn-primary:visited {
  background-color: #00696B;
  border-color: #00696B;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

.interval-select {
  width: 5em;
  margin: 0 auto 0 auto;
}


:focus {
  border-color: #00696B !important;
  box-shadow: none;
  outline: none;
  -webkit-box-shadow: none;
}




body {
  padding: 0;
}

.center {
  text-align: center;
}

.logo-herculess {
  width: 16em;
  height: auto;
  margin-bottom: 1em;
}

.info-id {
  padding: 0;
}

.info-text{
  line-height: 100%;
}

.info-text > span {
  vertical-align: middle;
}

.info-id {
  width: 2em;
  height: 2em;
  background-color: #E56102;
  border-radius: 50%;
  text-align: center;
}

.info-id > span {
  line-height: 2em;
  vertical-align: middle;
}

.info-container {
  line-height: 100%;
}


.user-container, .information-container, .result-container {
  margin-top: 2em;
}

.result-container > .panel-scroll {
  max-height: 46em;
  overflow: scroll;
}


.small-headline {
  display: block;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}

.file-input {
  margin: 0 0 1.94em 0;
}

.medium-icon {
  font-size: 1.5em;
}

.c-orange {
  color: #E56102;
}

.c-orange:before {
  color: #E56102;
}

.c-red {
  color: #E84B30;
}

.c-red:before {
  color: #E84B30;
}

.c-green {
 color: #4bd341;
}

.c-green:before {
  color: #4bd341;
}


.float-right {
  float: right;
}

.row-desc {
  min-height: 3.2em;
}

.match-user {
  margin-top:1em;

}

.panel-default {
  border-color: #b3b3b3;
}

.ul-stats {
  list-style: none;
  margin: 0;
  padding: 0;
}


.result-line {
  margin-bottom: 0em;
}

.medium-icon {
  font-size: 1.4em;
}

.user-icon {
  margin: 1.6em 0 0 0.8em;
}

.info-icon {
  font-size: 1.6em;
  margin: 1.22em 0 0 0.6em;
}

.delete-icon {
  cursor: pointer;
}

.panel-line {
  padding: 0.2em 0 0.2em 0;
}

.padding-top {
  padding-top: 1em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding {
  padding: 0.5em;
}

.txt-desc {
  font-size: 0.9em;
}


@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }

  .pagebreak { page-break-before: always; }

}
