<div class="row">
  <h2 class="center">Informationen</h2>

  <div class="col-md-4">
    <h3>Informationen importieren / erstellen</h3>

    <p class="row-desc">Hier können Sie Informationen importieren, welchen im Rahmen der Simulation Personen zugeordnet werden.</p>
    <hr/>
    <div class="input-group col-md-12">
      <span class="small-headline">Informationen importieren</span>
      <p>Personen können in <a href="information.default.json" target="_blank">diesem</a> Format importiert werden. </p>
      <input class="file-input" type='file' accept='.json' ng-model="informationFile" onchange="angular.element(this).scope().infoFileInputChanged(this)">
    </div>
    <hr/>
  </div>


  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default" ng-repeat="info in informations">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 center">
            <span class="glyphicon glyphicon-info-sign medium-icon c-orange center info-icon"></span>
          </div>
          <div class="col-md-10">
            <div class="col-md-12 panel-line">#{{info.id}}</div>
            <div class="col-md-12 panel-line"><strong>{{info.text}}</strong></div>
            <div class="col-md-12 panel-line">Produktion: <strong>{{info.features[0]}}</strong> | Wartung: <strong>{{info.features[1]}}</strong> | Management: <strong>{{info.features[2]}}</strong></div>
            <div ng-show="info.featureLevel == 1" class="col-md-12 panel-line">Wertebereich: niedrig (0...4)</div>
            <div ng-show="info.featureLevel == 2" class="col-md-12 panel-line">Wertebereich: hoch (0...99)</div>
            <div ng-show="info.evalUsers && userMap" class="col-md-12 panel-line">
              <hr/>
              <span class="c-orange">Evaluierung - Personen für welche die Information relevant ist:</span>
              <ul>

                <li ng-show="userMap[userId]" ng-repeat="userId in info.evalUsers">{{userId}} | Produktion: {{userMap[userId].features[0]}} | Wartung: {{userMap[userId].features[1]}} | Management: {{userMap[userId].features[2]}} <span ng-show="userMap[userId].featureLevel == 1"> | ( 0...4 )</span><span ng-show="userMap[userId].featureLevel == 2"> | ( 0...99 )</span></li>
                <li ng-show="!userMap[userId]" ng-repeat="userId in info.evalUsers" class="c-orange">Person {{userId}} nicht definiert!</li>
              </ul>
            </div>
          </div>
          <div class="col-md-1">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
