<div class="row">
  <h2 class="center">Simulator</h2>

  <p class="row-desc center">Mittels Simulator werden alle definierten Informationen an den Herculess 4.0 Prototyp
    gesendet und diesen Informationen, Personen zugewiesen.</p>
</div>

<div class="row">

  <div class="col-md-5 col-md-offset-2">
    <div class="panel panel-default col-md-12 padding-top">
      <h4 class="center">Simulation</h4>
      <br/>

      <div class="row">
        <div class="form-group col-md-10 col-md-offset-1">
          <label for="sel2">Algorithmus</label>
          <select class="form-control center" id="sel2" ng-model="method">
            <option value="1" selected>Euklidische Distanz</option>
            <option value="2">Skalarprodukt</option>
            <option value="3">Kosinusähnlichkeit</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10 col-md-offset-1">
          <label for="sel3">KNN</label>
          <select class="form-control center" id="sel3" ng-model="knn">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-10 col-md-offset-1 ">
          <label for="sel4">Übereinstimmung in %</label>
          <input class="form-control" type="text" id="sel4" ng-model="percent"/>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-md-10 col-md-offset-1 ">
          <label for="sel1">Sendeinterval in Sekunden</label>
          <select class="form-control center" id="sel1" ng-model="delayTime">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <div class="row center">
        <div class="form-group col-md-10 col-md-offset-1 ">
          <button class="btn btn-primary" ng-click="sendInfos()">Simulation starten</button>
        </div>
      </div>


    </div>

  </div>


  <div class="col-md-3">

    <div class="panel panel-default col-md-12 padding-top padding-bottom">
      <h4 class="center">Personen</h4>

      <div class="col-md-12 center">
        <span ng-show="users.length > 0" class="center">{{users.length}} Personen definiert.</span>
        <span ng-show="users.length == 0 || !users">Keine Personen definiert.</span>
      </div>
      <div class="col-md-12 center">
        <a href="#/users" class="no-print">Personen bearbeiten</a>
      </div>
    </div>

    <div class="panel panel-default col-md-12 padding-top padding-bottom">
      <h4 class="center">Informationen</h4>

      <div class="col-md-12 center">
        <span ng-show="informations.length > 0" class="center">{{informations.length}} Informationen definiert.</span>
        <span ng-show="informations.length == 0 || !informations">Keine Informationen definiert.</span>
      </div>
      <div class="col-md-12 center">
        <a href="#/informations" class="no-print">Informationen bearbeiten</a>
      </div>
    </div>
  </div>


</div>

<div class="pagebreak"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default col-md-12 padding-top padding-bottom">
      <h4 class="center">Auswertung</h4>
      <div class="row">
        <div class="col-md-6">

          <table class="table table-bordered">
            <tbody>
              <thead>
              <tr>
                <th>Informationen</th>
                <th>Anzahl</th>
                <th>%</th>
              </tr>
              </thead>
            <tr>
              <td>Gesamt<sup> 1</sup></td>
              <td>{{stats.allInformations}}</td>
              <td>{{stats.allInformationsPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Korrekt<sup> 2</sup></td>
              <td>{{stats.validResults}}</td>
              <td>{{stats.validResultsPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Fehler<sup> 3</sup></td>
              <td>{{stats.invalidResults}}</td>
              <td>{{stats.invalidResultsPercent | number: 2}}%</td>
            </tr>
            </tbody>
          </table>




        </div>
        <div class="col-md-6">

          <table class="table table-bordered">
            <tbody>
            <thead>
            <tr>
              <th>Personen</th>
              <th>Anzahl</th>
              <th>%</th>
            </tr>
            </thead>
            <tr>
              <td>Gesamt<sup> 4</sup></td>
              <td>{{stats.allUsers}}</td>
              <td>{{stats.allInformationsPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Nicht Zugewiesen<sup> 5</sup></td>
              <td>{{stats.unsentUsers}}</td>
              <td>{{stats.unsentUsersPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Zugewiesen<sup> 6</sup></td>
              <td>{{stats.sentUsers}}</td>
              <td>{{stats.sentUsersPercent| number: 2}}%</td>
            </tr>
            <tr>
              <td>Zugewiesen - Korrekt<sup> 7</sup></td>
              <td>{{stats.validUsers}}</td>
              <td>{{stats.validUsersPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Zugewiesen - Fehler<sup> 8</sup></td>
              <td>{{stats.invalidUsers}}</td>
              <td>{{stats.invalidUsersPercent | number: 2}}%</td>
            </tr>
            <tr>
              <td>Fehler - Gesamt<sup> 9</sup></td>
              <td>{{stats.invalidUsers}}</td>
              <td>{{stats.invalidUsersTotalPercent | number: 2}}%</td>
            </tr>
            </tbody>
          </table>



        </div>

        <div class="col-md-6">

          <table class="table table-bordered">
            <tbody>
            <thead>
            <tr>
              <th>fmax</th>
              <th>fges</th>
              <th>fred</th>
              <th>zmax</th>
              <th>zges</th>
              <th>zred</th>

            </tr>
            </thead>
            <tr>
              <td>{{stats.fMax}}</td>
              <td>{{stats.invalidUsers}}</td>
              <td>{{stats.fRed | number: 2}}%</td>
              <td>{{stats.zMax}}</td>
              <td>{{stats.zGes}}</td>
              <td>{{stats.zRed | number: 2}}%</td>
            </tr>
            </tbody>
          </table>



        </div>


      </div>

      <div class="row">
        <div class="col-md-12 txt-desc"><sup>1</sup>Gesamtheit aller Informationen <sup>2</sup>Korrekt zugewiesene Informationen - eine Information ist dann korrekt zugewiesen, wenn die Informationen für mindestens eine zugewiesene Person relevant ist. <sup>3</sup>Fehlerhaft zugewiesenen Informationen - Eine Information ist dann fehlerhaft wenn sie für keine der zugewiesenen Personen relevant ist. <sup>4</sup> Gesamtheit aller Personen. <sup>5</sup> Gesamtheit aller Personen welche keiner Information zugewiesen wurden. <sup>6</sup> Gesamtheit aller Personen welche einer Information zugewiesen wurden. <sup>7</sup> Gesamtheit aller Personen welche einer für sie relevanten Information zugewiesen wurden. <sup>8</sup> Gesmatheit aller zugewiesenen Personen welche einer für sie nicht relevanten Information zugewiesen wurden. <sup>9</sup> Gesmatheit aller Personen welche einer für sie nicht relevanten Information zugewiesen wurden.</div>

      </div>




    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default result-container" ng-repeat="result in results">
      <div class="panel-body info-container">
        <div class="row">
          <div class="col-md-1">
            <span class="glyphicon glyphicon-info-sign medium-icon c-orange"></span>
          </div>
          <div class="col-md-10 info-text">
                  <span>
                    {{result.information.text}}
                  </span>
          </div>
          <div class="col-md-1">#{{result.information.id}}</div>
        </div>


        <div class="row">
          <!--<span class="glyphicon glyphicon-user"></span>-->
          <!--<span>{{match.user.name}}: </span>
          <span>{{match.similarity | number: 2}}</span>-->

          <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Merkmale</th>
                <th>Wert</th>
                <th>Prozent</th>
                <th>Evaluation</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="match in result.matches">
                <td>{{match.user.userId}}</td>
                <td>{{match.user.name}}</td>
                <td>{{match.user.features}}</td>
                <td>{{match.similarity | number: 2}}</td>
                <td>{{match.percent | number: 2}}</td>
                <td>
                  <span ng-show="result.information.evalUsers && match.validUser"
                        class="glyphicon glyphicon-ok c-green"></span>
                  <span ng-show="result.information.evalUsers && !match.validUser"
                        class="glyphicon glyphicon-remove c-red"></span>

                </td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>


</div>
</div>


