<div class="row">
  <h2 class="center">Personen</h2>

  <div class="col-md-4">


      <h3>Personen imporieren / erstellen</h3>

      <p class="row-desc">Hier können Sie die Personen definieren welche, durch die Simulation den definierten Informationen zugeordnet werden.</p>
      <hr/>

      <div class="input-group col-md-12">
        <span class="small-headline">Personen importieren</span>
        <p>Personen können in <a href="user.default.json" target="_blank">diesem</a> Format importiert werden. <span>Alle vorhandenen Personen werden nach dem Import gelöscht</span> </p>
        <input class="file-input" type='file' accept='.json' ng-model="userFile" onchange="angular.element(this).scope().userFileInputChanged(this)">
      </div>
      <hr/>

      <span class="small-headline">Neue Person anlegen</span>

      <div class="form-group left-side">
        <label for="u1">Id</label>
        <input type="text" ng-model="newUser.id" class="form-control" id="u1">
      </div>

      <div class="form-group left-side">
        <label for="u2">Name</label>
        <input type="text" ng-model="newUser.name" class="form-control" id="u2">
      </div>

      <div class="form-group left-side">
        <label for="u3">Merkmal-Wertebereich</label>
        <select class="form-control" ng-model="newUser.featureLevel" name="u3" id="u3">
          <option value="1">niedrig (0...4)</option>
          <option value="2">hoch (0...99)</option>
        </select>
      </div>

      <div ng-show="newUser.featureLevel == 1" class="form-group left-side">
        <p>Definieren Sie hier die Merkmale Produktion, Wartung und Management. Folgend wird der mögliche Wertebereich gelistet. </p>
        <ul>
          <li>4 - Sehr hohe Relevanz</li>
          <li>3 - Hohe Relevanz</li>
          <li>2 - Mittlere Relevanz</li>
          <li>1 - Geringe Relevanz</li>
          <li>0 - Keine Relevanz</li>
        </ul>
        <br/>

        <div class="form-group left-side">
          <label for="u4">Produktion</label>
          <input type="text" ng-model="newUser.production" class="form-control" id="u4">
        </div>

        <div class="form-group left-side">
          <label for="u5">Wartung</label>
          <input type="text" ng-model="newUser.maintenance" class="form-control" id="u5">
        </div>

        <div class="form-group left-side">
          <label for="u6">Managemant</label>
          <input type="text" ng-model="newUser.management" class="form-control" id="u6">
        </div>
      </div>

      <div ng-show="newUser.featureLevel == 2" class="form-group">
        <p>Definieren Sie hier die Merkmale Produktion, Wartung und Management. Folgend wird der mögliche Wertebereich gelistet. </p>
        <ul>
          <li>80...99 - Sehr hohe Relevanz</li>
          <li>60...79 - Hohe Relevanz</li>
          <li>40...59 - Mittlere Relevanz</li>
          <li>20...39 - Geringe Relevanz</li>
          <li> 0...19 - Keine Relevanz</li>
        </ul>
        <br/>

        <div class="form-group left-side">
          <label for="u4">Produktion</label>
          <input type="text" ng-model="newUser.production" class="form-control" id="u4">
        </div>

        <div class="form-group left-side">
          <label for="u5">Wartung</label>
          <input type="text" ng-model="newUser.maintenance" class="form-control" id="u5">
        </div>

        <div class="form-group left-side">
          <label for="u6">Managemant</label>
          <input type="text" ng-model="newUser.management" class="form-control" id="u6">
        </div>
      </div>

        <button class="btn btn-primary" ng-click="addUserClicked()">Person anlegen</button>

      <hr/>

  </div>

  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default" ng-repeat="user in users">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 center">
            <span class="glyphicon glyphicon-user medium-icon center user-icon"></span>
          </div>
          <div class="col-md-10">
            <div class="col-md-12 panel-line">#{{user.userId}}</div>
            <div class="col-md-12 panel-line">{{user.name}}</div>
            <div class="col-md-12 panel-line">Produktion: <strong>{{user.features[0]}}</strong> | Wartung: <strong>{{user.features[1]}}</strong> | Management: <strong>{{user.features[2]}}</strong></div>
            <div ng-show="user.featureLevel == 1" class="col-md-12 panel-line">Wertebereich: niedrig (0...4)</div>
            <div ng-show="user.featureLevel == 2" class="col-md-12 panel-line">Wertebereich: hoch (0...99)</div>
          </div>
          <div class="col-md-1">
            <span class="glyphicon glyphicon-trash float-right delete-icon" ng-click="deleteUserClicked(user)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

